body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0808;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    color: rgb(212, 250, 0);
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
    font-family: Brush Script MT;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    border: none;
    background-color: #fdfdfd;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration-line: none;
    text-decoration-skip: none;
}

button:hover {
    background-color: #5162f5;
}

h1 {
    color: red;
    animation: color-changing 1s ease-in-out infinite;
}

@keyframes color-changing {
    0% {
        color: rgb(133, 130, 130);
    }
    25% {
        color: aqua;
    }
    git ad 50% {
        color: rgb(36, 19, 189);
    }
    75% {
        color: aquamarine;
    }
    100% {
        color: rgb(0, 195, 255);
    }
}

body {
    background-image: url('https://scontent.fhan14-3.fna.fbcdn.net/v/t1.15752-9/337555871_2522317891253298_8817591332280247434_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=0XxmPLTzyt8AX_WItxt&_nc_ht=scontent.fhan14-3.fna&oh=03_AdRNMfz5F3yH1e0X2R5zcOdSWg0m0AfsY2ah2LLW_2nBuQ&oe=644D15BE');
    background-size: cover;
    animation: moveBackground 5s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}